*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color:rgb(255, 255, 255);
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  /* margin: 5em; */
  padding: 30em;

}


.Button {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.slides {
  display: flex;
  /* flex-wrap: nowrap; */
  overflow-x: auto;
  /* overflow-y: hidden; */
  /* white-space: nowrap; */
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.card {
  padding: 20em;
  margin: 20em;
}